{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="generic-banner relative"
             style="background: url({% static 'img/about/photo_2022-04-10 13.35.19.jpeg' %});
                     background-size: cover; background-position: center center;">
        {% include 'inc/navbar.html' %}
        <div class="container">
            <div class="row height align-items-center justify-content-center">
                <div class="col-lg-10">
                </div>
            </div>
        </div>
    </section>
    <div class="whole-wrap">
        <div class="container">
            <div class="row mt-3">
                <div class="col-md-12">
                    <nav aria-label="breadcrumb">
                        <ol>
                            <li class="breadcrumb-item"><a href="/">Главная</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Обо мне</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <h1 class="mt-5 mb-5">Трофейная рыбалка с Андреем Фоминым</h1>
            <div class="section-top-border">
                <h3 class="mb-30 text-right">Обо мне</h3>
                <div class="row">
                    <div class="col-md-9">
                        <p>Добрый день, рыбаки! Меня зовут Андрей, я рыболовный гид с 20 летним стажем рыбаловной ловли
                            на спиннинг. Опираясь на свой опыт я гарантирую вам хорошие результаты и трофейных
                            хищников.</p>
                        <p>Я увлекаюсь рыбалкой с самых ранних лет, а на протяжении последнего времени занимаюсь этим
                            профессионально и постоянно совершенствую свои навыки! Я готов делиться с вами своими
                            знаниями, обучать вас различным видам ловли, а также организовывать рыболовные туры для тех,
                            кто хочет отдохнуть от городской суеты на воде и круто провести время за уже любимым или
                            ещё неизвестным занятием!</p>
                        <p>Ежегодно на борту моего катера оказывается более 1000 особей судаков и щук, среди которых
                            сотни экземпляров весом более 3-х килограмм и десятки рекордных трофеев более 8-ми
                            килограмм. Указанные факты подтверждены многочисленными фотографиями в
                            <a href="/gallery">галерее трофеев</a>.</p>
                    </div>
                    <div class="col-md-3">
                        <img src="{% static 'img/about/photo_2022-04-10 13.31.57.jpeg' %}" alt="" class="img-fluid">
                    </div>
                </div>
            </div>
            <div class="section-top-border">
                <h3 class="mb-30">База отдыха</h3>
                <div class="row">
                    <div class="col-md-3">
                        <img src="{% static 'img/about/photo_2022-04-10 14.05.40.jpeg' %}" alt="" class="img-fluid">
                    </div>
                    <div class="col-md-9 mt-sm-20">
                        <p>Гости, которые приехали на рыбалку получают максимальный комфорт. База отдыха расположена в
                            Разнежье на берегу реки Волга и готова к приему гостей в любое время года. В вашем
                            распоряжении уютные домики для отдыха, в которых есть комфортные номера оснащенные всеми
                            необходимыми удобствами. Лагерь находится в 110 км от Нижнего Новгорода, при этом к нему
                            ведет автомобильная дорога, вокруг - большой живописный лес. Имеется развитая
                            инфраструктура: вам будут доступны электричество, Wi-Fi, баня, душевые с горячей водой,
                            настольный тенис, футбольная и волебольная площадки, малая (до 15 человек) и большая
                            (до 100 человек) беседки, катамаран и хороший песчанный пляж, где можно загорать и купаться.
                            Рыбалка на Волге станет одним из лучших приключений в вашей жизни! Приезжайте к нам за
                            фантастическим уловом и незабываемыми впечатлениями!</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
    {% include 'inc/form.html' %}
{% endblock %}