{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="generic-banner relative"
             style="background: url({% static 'img/blog_background.jpg' %});
                     background-size: cover; background-position: center 30%;">
        {% include 'inc/navbar.html' %}
        <div class="container">
            <div class="row height align-items-center justify-content-center">
                <div class="col-lg-10">
                    <div class="generic-banner-content">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="whole-wrap">
        <div class="container">
            <div class="row mt-3">
                <div class="col-md-12">
                    <nav aria-label="breadcrumb">
                        <ol>
                            <li class="breadcrumb-item"><a href="/">Главная</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Блог</li>
                        </ol>
                    </nav>
                    <small style="float: right;">{{ post.category }}</small>
                </div>
                <div class="col-md-12 mt-5">
                    <h1 class="title">Блог о рыбалке</h1>
                    <p class="mt-5">На этой странице собраны новости и отчеты о рыбалках.</p>
                </div>
            </div>
            <div class="row section-top-border">
                {% for post in blog %}
                    <div class="card mb-3 w-100">
                        <div class="row no-gutters">
                            <div class="col-md-3">
                                <img src="{{ post.poster.path.url }}" class="card-img"
                                     alt="{{ post.poster.path.short_description }}">
                            </div>
                            <div class="col-md-9">
                                <div class="card-body">
                                    <a href="/blog/{{ post.slug }}">
                                        <h5 class="card-title">{{ post.title }}</h5>
                                    </a>
                                    <p class="card-text">{{ post.text|truncatechars:400 }}</p>
                                    <p class="card-text"><small class="text-muted">{{ post.created_at }}</small></p>
                                </div>
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
{% endblock %}