{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="generic-banner relative"
             style="background: url({% static 'img/service/tild6531-3438-4932-b337-353033393363__7-960x540.jpg' %});
                     background-size: cover; background-position: center 30%;">
        {% include 'inc/navbar.html' %}
        <div class="container">
            <div class="row height align-items-center justify-content-center">
                <div class="col-lg-10">
                    <div class="generic-banner-content">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="whole-wrap mb-5">
        <div class="container">
            <div class="row mt-3">
                <div class="col-md-12">
                    <nav aria-label="breadcrumb">
                        <ol>
                            <li class="breadcrumb-item"><a href="/">Главная</a></li>
                            <li class="breadcrumb-item"><a href="{% url 'blog' %}">Блог</a></li>
                            <li class="breadcrumb-item active" aria-current="page">{{ post.title }}</li>
                        </ol>
                    </nav>
                </div>
                <div class="col-md-12 mt-5">
                    <h1 class="title">{{ post.title }}</h1>
                    <small style="float: right;">{{ post.category }}</small>
                </div>
            </div>
            <div class="row section-top-border">
                <div class="col-md-4">
                    <img src="{{ post.poster.path.url }}" class="w-100">
                </div>
                <div class="col-md-8">
                    <p class="mt-4">{{ post.text }}</p>
                    <small>{{ post.created_at }}</small>
                </div>
            </div>
            {% if post.photos.all %}
                <div class="row section-top-border d-flex justify-content-center">
                    <h3>Фотографии</h3>
                </div>
                <div class="row gallery-item">
                    {% for photo in post.photos.all %}
                        <div class="col-md-4">
                            <a href="{{ photo.path.url }}" class="img-pop-up">
                                <div class="single-gallery-image"
                                     style="background: url({{ photo.path.url }});"></div>
                            </a>
                        </div>
                    {% endfor %}
                </div>
            {% endif %}
        </div>
    </div>
    {% include 'inc/form.html' %}
{% endblock %}