{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="generic-banner relative"
             style="background: url({% static 'img/boat_backgroung.jpg' %});
                     background-size: cover; background-position: center 30%;">
        {% include 'inc/navbar.html' %}
        <div class="container">
            <div class="row height align-items-center justify-content-center">
                <div class="col-lg-10">
                    <div class="generic-banner-content">
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="whole-wrap">
        <div class="container">
            <div class="row mt-3">
                <div class="col-md-12">
                    <nav aria-label="breadcrumb">
                        <ol>
                            <li class="breadcrumb-item"><a href="/">Главная</a></li>
                            <li class="breadcrumb-item active" aria-current="page">Моя лодка</li>
                        </ol>
                    </nav>
                </div>
            </div>
            <h1 class="mt-5 mb-5">Рыбалка на катере</h1>
            <p>Здесь вы найдете описание и характеристики катеров и установленного на них оборудования.</p>
            <div class="row section-top-border">
                <div class="col-md-12">
                    <table class="table">
                        <tbody>
                        <tr>
                            <th scope="row">Двигатель</th>
                            <td>Honda BF150</td>
                        </tr>
                        <tr>
                            <th scope="row">Эхолот</th>
                            <td>Humminbird Solix 12</td>
                        </tr>
                        <tr>
                            <th scope="row">Эхолот</th>
                            <td>Lowrance 16 Live</td>
                        </tr>
                        <tr>
                            <th scope="row">Эхолот</th>
                            <td>Garmin GPS MAP 923 + Panoptix LiveScope System</td>
                        </tr>
                        <tr>
                            <th scope="row">Магнитола</th>
                            <td>Boss-marine + 2 колонки</td>
                        </tr>
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
    <section class="gallery-area" id="gallery">
        <div class="container-fluid">
            <div class="row no-padding">
                <div class="active-gallery">
                    <div class="item single-gallery mx-2">
                        <a href="{% static 'img/boat/photo_2022-05-02 13.09.00.jpeg' %}" class="img-pop-up">
                            <img src="{% static 'img/boat/photo_2022-05-02 13.09.00.jpeg' %}" alt="">
                        </a>
                    </div>
                    <div class="item single-gallery mx-2">
                        <a href="{% static 'img/boat/photo_2022-05-17 20.18.40.jpeg' %}" class="img-pop-up">
                            <img src="{% static 'img/boat/photo_2022-05-17 20.18.40.jpeg' %}" alt="">
                        </a>
                    </div>
                    <div class="item single-gallery mx-2">
                        <a href="{% static 'img/boat/photo_2022-05-17 20.18.51.jpeg' %}" class="img-pop-up">
                            <img src="{% static 'img/boat/photo_2022-05-17 20.18.51.jpeg' %}" alt="">
                        </a>
                    </div>
                    <div class="item single-gallery mx-2">
                        <a href="{% static 'img/boat/photo_2022-05-17 20.18.55.jpeg' %}" class="img-pop-up">
                            <img src="{% static 'img/boat/photo_2022-05-17 20.18.55.jpeg' %}" alt="">
                        </a>
                    </div>
                    <div class="item single-gallery mx-2">
                        <a href="{% static 'img/boat/photo_2022-05-17 20.19.04.jpeg' %}" class="img-pop-up">
                            <img src="{% static 'img/boat/photo_2022-05-17 20.19.04.jpeg' %}" alt="">
                        </a>
                    </div>
                    <div class="item single-gallery mx-2">
                        <a href="{% static 'img/boat/photo_2022-05-17 20.38.21.jpeg' %}" class="img-pop-up">
                            <img src="{% static 'img/boat/photo_2022-05-17 20.38.21.jpeg' %}" alt="">
                        </a>
                    </div>
                    <div class="item single-gallery mx-2">
                        <a href="{% static 'img/boat/photo_2022-05-17 20.38.25.jpeg' %}" class="img-pop-up">
                            <img src="{% static 'img/boat/photo_2022-05-17 20.38.25.jpeg' %}" alt="">
                        </a>
                    </div>
                    <div class="item single-gallery mx-2">
                        <a href="{% static 'img/boat/photo_2022-05-17 20.38.51.jpeg' %}" class="img-pop-up">
                            <img src="{% static 'img/boat/photo_2022-05-17 20.38.51.jpeg' %}" alt="">
                        </a>
                    </div>
                </div>
            </div>
        </div>
    </section>
    {% include 'inc/form.html' %}
{% endblock %}