{% extends 'base.html' %}
{% load static %}

{% block navbar %}
    {% include 'inc/navbar.html' %}
{% endblock %}

{% block content %}

<section class="default-banner active-blog-slider">
    <div class="item-slider relative"
         style="background: url({% static 'img/main/photo_2022-04-03 19.35.17.jpeg' %}); background-size: cover; background-position: center 30%;">
        <div class="overlay" style="background: rgba(0,0,0,.3)"></div>
        <div class="container">
            <div class="row fullscreen justify-content-center align-items-center">
                <div class="col-md-10 col-12">
                    <div class="banner-content text-center">
                        <h4 class="text-white mb-20 text-uppercase">Получи незабываемые ощущения от</h4>
                        <h2 class="text-uppercase text-white">Ловли трофея</h2>
                        <a href="#" class="text-uppercase header-btn mt-5">Записаться</a>
                    </div>
                </div>

            </div>
        </div>
    </div>
    <div class="item-slider relative"
         style="background: url({% static 'img/main/22008102_481461718891504_5273920237415352670_n.jpg' %});background-size: cover; background-position: center center;">
        <div class="overlay" style="background: rgba(0,0,0,.3)"></div>
        <div class="container">
            <div class="row fullscreen justify-content-center align-items-center">
                <div class="col-md-10 col-12">
                    <div class="banner-content text-center">
                        <h4 class="text-white mb-20 text-uppercase">Получи незабываемые ощущения от</h4>
                        <h2 class="text-uppercase text-white">Прогулки на катере</h2>
                        <a href="#" class="text-uppercase header-btn mt-5">Записаться</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
    <div class="item-slider relative"
         style="background: url({% static 'img/main/21994203_481460248891651_5468901035780377593_o.jpg' %});background-size: cover; background-position: center center;">
        <div class="overlay" style="background: rgba(0,0,0,.3)"></div>
        <div class="container">
            <div class="row fullscreen justify-content-center align-items-center">
                <div class="col-md-10 col-12">
                    <div class="banner-content text-center">
                        <h4 class="text-white mb-20 text-uppercase">Получи незабываемые ощущения от</h4>
                        <h2 class="text-uppercase text-white">Волжских красот</h2>
                        <a href="#" class="text-uppercase header-btn mt-5">Записаться</a>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="section-gap info-area" id="about">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-40 col-lg-9">
                <div class="title text-center">
                    <h1 class="mb-10">Рыбалка с гидом в Нижегородской области</h1>
                    <p style="font-size: 20px;">Запишись на трофейную рыбалку с Андреем Фоминым.</p>
                </div>
            </div>
        </div>
        <div class="single-info row mt-40">
            <div class="col-lg-6 col-md-12 mt-120 text-center no-padding info-left">
                <div class="info-thumb">
                    <img src="{% static 'img/main/photo_2022-04-03 20.04.55.jpeg' %}" class="img-fluid" alt="">
                </div>
            </div>
            <div class="col-lg-6 col-md-12 no-padding info-rigth">
                <div class="info-content">
                    <h2 class="pb-30">Профессиональный рыболовный гид Андрей Фомин</h2>
                    <p>
                        Добрый день, рыбаки! Меня зовут Андрей, я рыболовный гид с 20 летним стажем рыбаловной ловли на
                        спиннинг. Опираясь на свой опыт я гарантирую вам хорошие результаты и трофейных хищников.
                    </p>
                    <br>
                    <p>
                        Я обладаю отличным знанием акватории, точек локации рыбы в различное время суток, при разном
                        уровне и температуре воды и течении, а также области ее миграции в любое время года, что
                        способствует успешной ловле трофеев.
                    </p>
                    <br>
                    <p>
                        Навыки работы с современным оборудованием позволяют эффективно искать рыбу на любой территории.
                        Умение читать ландшафт, знание как правильно спозицинировать лодку на точке с найденной рыбой и
                        подводными аномалиями с учетом факторов ветра и течения существенно повышают шансы на поимку
                        найденной рыбы.
                    </p>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="project-area section-gap" id="project">
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-30 col-lg-8">
                <div class="title text-center">
                    <h2 class="mb-10">Что вы получите от рыбалки?</h2>
                </div>
            </div>
        </div>
        <div class="row justify-content-center d-flex">
            <div class="active-works-carousel mt-40 col-lg-8">
                <div class="item">
                    <img class="img-fluid" src="{% static 'img/main/photo_2022-04-04 20.48.45.jpeg' %}" alt="">
                    <div class="caption text-center mt-20">
                        <h6 class="text-uppercase">Размещение на базе отдыха</h6>
                        <p>Комфортное проживание в гостевом домике со всеми удобствами для вас и ваших близких</p>
                    </div>
                </div>
                <div class="item">
                    <img class="img-fluid" src="{% static 'img/main/photo_2022-04-04 20.46.53.jpeg' %}" alt="">
                    <div class="caption text-center mt-20">
                        <h6 class="text-uppercase">Оснащенный катер</h6>
                        <p>Ловля осуществляется на комфортабельном и полностью оборудованном катере</p>
                    </div>
                </div>
{#                <div class="item">#}
{#                    <img class="img-fluid" src="img/why.jpg" alt="">#}
{#                    <div class="caption text-center mt-20">#}
{#                        <h6 class="text-uppercase">Обучение работе с оборудованием</h6>#}
{#                        <p>LCD screens are uniquely modern in style, and the liquid crystals that make them work have#}
{#                            <br> allowed humanity to create slimmer, more portable technology.</p>#}
{#                    </div>#}
{#                </div>#}
                <div class="item">
                    <img class="img-fluid" src="{% static 'img/main/photo_2022-04-04 20.57.15.jpeg' %}" alt="">
                    <div class="caption text-center mt-20">
                        <h6 class="text-uppercase">Трофейная рыбалка</h6>
                        <p>Каждый гость гарантированно ловит трофейный экземпляр размером от 5-ти килограмм.</p>
                    </div>
                </div>
                <div class="item">
                    <img class="img-fluid" src="{% static 'img/main/photo_2022-04-04 21.01.05.jpeg' %}" alt="">
                    <div class="caption text-center mt-20">
                        <h6 class="text-uppercase">Незабываемые впечатления</h6>
                        <p>Обучение техникам ловли с применением современного рыбопоискового оборудования.</p>
                    </div>
                </div>
            </div>
        </div>
    </div>
</section>

<section class="gallery-area" id="gallery">
    <div class="container-fluid">
        <div class="row no-padding">
            <div class="active-gallery">
                {% for photo in photos %}
                <div class="item single-gallery">
                    <img src="{{ photo.path.url }}" alt="">
                </div>
                {% endfor %}
            </div>
        </div>
    </div>
</section>

{% include 'inc/form.html' %}
{% endblock %}