{% extends 'base.html' %}
{% load static %}

{% block content %}
    <section class="generic-banner relative"
             style="background: url({% static 'img/service/tild6531-3438-4932-b337-353033393363__7-960x540.jpg' %});
                     background-size: cover; background-position: center 30%;">
        {% include 'inc/navbar.html' %}
        <div class="container">
            <div class="row height align-items-center justify-content-center">
                <div class="col-lg-10">
                    <div class="generic-banner-content">
                        <h1 class="text-white">Видеогалерея</h1>
                        <p class="text-white"></p>
                    </div>
                </div>
            </div>
        </div>
    </section>
    <div class="whole-wrap">
        <div class="container">
            <p class="mt-5">Здесь вы можете посмотреть коллекцию видеозаписей наших рыбалок. Приятного просмотра.</p>
            {% for video in videos %}
                <div class="row section-top-border">
                    <div class="col-md-12">
                        <div class="video-area pt-40 pb-40"
                                 style="background: url({{ video.logo.url }}) no-repeat center center/cover;
                                         background-position: center 60%;">
                            <div class="overlay overlay-bg"></div>
                            <div class="container">
                                <div class="video-content">
                                    <a href="https://www.youtube.com/watch?v={{ video.frame }}" class="play-btn">
                                        <img src="{% static 'img/play-btn.png' %}" alt="">
                                    </a>
                                    <div class="video-desc">
                                        <h3 class="h2 text-white text-uppercase">{{ video.title }}</h3>
                                        <h4 class="text-white">{{ video.description }}</h4>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </div>
            {% endfor %}
        </div>
    </div>
{% endblock %}