<section class="contact-area section-gap" id="contact">
    {% if messages %}
        <div class="alert alert-success" role="alert">
            <ul class="messages">
                {% for message in messages %}
                    <li{% if message.tags %} class="{{ message.tags }}"{% endif %}>
                        {% if message.level == DEFAULT_MESSAGE_LEVELS.ERROR %}Important: {% endif %}
                        {{ message }}
                    </li>
                {% endfor %}
            </ul>
        </div>
    {% endif %}
    <div class="container">
        <div class="row d-flex justify-content-center">
            <div class="menu-content pb-60 col-lg-8">
                <div class="title text-center">
                    <h2 class="mb-10">Записаться на рыбалку мечты</h2>
                    <p>Заполните форму для отправки заявки. Я обязательно с вами свяжусь в течени трех дней.</p>
                </div>
            </div>
        </div>
        <form class="form-area" method="post" class="contact-form text-right">
            <div class="row">
                <div class="col-lg-6 form-group">
                    <label>Имя</label>
                    {{ form.name }}
                    <label>Желаемая дата рыбалки</label>
                    {{ form.date }}
                    <label>Email</label>
                    {{ form.email }}
                    <label>Номер телефона</label>
                    {{ form.phone }}
                </div>
                <div class="col-lg-6 form-group">
                    <label>Услуга</label>
                    {{ form.service }}
                    <label>Сообщение</label>
                    {{ form.comment }}
                </div>
                <div class="form-group col-lg-12">
                    {% csrf_token %}
                    <button class="primary-btn mt-10 w-100">Отправить</button>
                    <div class="alert-msg">
                    </div>
                </div>
            </div>
        </form>
    </div>
</section>