{% load static %}
<section class="banner-area" id="home">
    <header class="default-header">
        <nav class="navbar navbar-expand-lg  navbar-light" style="padding: 15px;">
            <div class="container">
                <a class="navbar-brand text-white" href="{% url 'main' %}">
                    <img src="{% static 'img/logo.png' %}" alt="" style="width: 75px; position: absolute; top: 0;">
                </a>
                <button class="navbar-toggler" type="button" data-toggle="collapse"
                        data-target="#navbarSupportedContent" aria-controls="navbarSupportedContent"
                        aria-expanded="false" aria-label="Toggle navigation">
                    <span class="text-white lnr lnr-menu"></span>
                </button>

                <div class="collapse navbar-collapse justify-content-end align-items-center"
                     id="navbarSupportedContent">
                    <ul class="navbar-nav">
                         <li><a href="{% url 'main' %}">Главная</a></li>
                        <li><a href="{% url 'service' %}">Услуги</a></li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Обо мне</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{% url 'about' %}">Обо мне</a>
                                <a class="dropdown-item" href="{% url 'boat' %}">Моя лодка</a>
                            </div>
                        </li>
                        <li class="dropdown">
                            <a class="dropdown-toggle" href="#" id="navbardrop" data-toggle="dropdown">Галерея</a>
                            <div class="dropdown-menu">
                                <a class="dropdown-item" href="{% url 'gallery' %}">Фото</a>
                                <a class="dropdown-item" href="{% url 'video' %}">Видео</a>
                            </div>
                        </li>
                        <li><a href="{% url 'contact' %}">Контакты</a></li>
                        <li><a href="{% url 'blog' %}">Блог</a></li>
                        <li><a href="{% url 'reviews' %}">Отзывы</a></li>
                        <li><a href="{% url 'advertising' %}">Реклама</a></li>
                    </ul>
                </div>
            </div>
        </nav>
    </header>
</section>